{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {{{body}}} tag of the default.hbs template --}}

{{!-- Everything inside the {post} tags pulls in the specified data for the page you are viewing --}}
{{#post}}
<div class="header">
    <div class="container text-center">
        <div class="grid-12">
            <h1>{{title}}</h1>
        </div> 
    </div>
</div>
<div class="container">
    <div class="grid-8">
        {{content}}
    </div>
</div>
{{/post}}
