{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {{{body}}} tag of the default.hbs template --}}

{{!-- Everything inside the {post} tags pulls in the specified data for the page you are viewing --}}
{{#post}}
<div id="top_content">
    <div class="container text-center">
        <div class="grid">
            <div class="col-1-2 push-1-4">
                <h1>{{title}}</h1>
            </div>    
        </div>
    </div>
</div>
<div class="container">
    <div class="grid">
        <div class="col-8-12 push-2-12">
            {{content}}
        </div>
    </div>
</div>
{{/post}}
